*Makefile linguist-detectable=false
*makefile linguist-detectable=false
*.mk linguist-detectable=false
Makefile linguist-vendored
*.mk linguist-vendored
frontend/** linguist-detectable=true
contracts/** linguist-detectable=true
